@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
ViewData["Title"] = "Registration";
Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<div class="container-fluid login-bg vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card form-card">
                <div class="card-header text-center">
                    <h4 class="brown fw-bold">Registration Form</h4>
                </div>
                <div class="card-body p-4 overflow-auto card-body-height">
                    <form method="POST">
                        @*Name Fields*@
                        <div class="mb-2 d-flex justify-content-between">
                            <div class="form-group me-2 w-100">
                                <label  class="light-brown fw-bold">Firstname</label>
                                <input  type="text" class="form-control mt-1" placeholder="FirstName">
                                <span  class="text-danger"></span>
                            </div>
                             <div class="form-group me-2 w-100">
                                <label class="light-brown fw-bold">Middlename</label>
                                <input type="text" class="form-control mt-1" placeholder="MiddleName">
                            </div>
                             <div class="form-group me-2 w-100">
                                <label  class="light-brown fw-bold">Lastname</label>
                                <input  type="text" class="form-control mt-1" placeholder="LastName">
                                <span  class="text-danger"></span>
                            </div>
                        </div>
                        @*Email-Id Name*@
                        <div class="form-group me-2 mb-2">
                            <label  class="light-brown fw-bold">Email ID</label>
                            <input type="text" class="form-control mt-1" placeholder="Email">
                            <span  class="text-danger"></span>
                        </div>
                        <div class="mb-2 d-flex justify-content-between">
                            @*Roll no*@
                            <div class="form-group me-2 w-50">
                                <label  class="light-brown fw-bold">Roll Number</label>
                                <input  type="text" class="form-control mt-1" placeholder="Roll Number">
                                <span  class="text-danger"></span>
                            </div>
                            @*Date of Birth*@
                            <div class="form-group me-2 w-50">
                                <label  class="light-brown fw-bold">Date Of Birth</label>
                                <input  type="date" class="form-control mt-1" />
                                <span  class="text-danger"></span>
                            </div>
                        </div>
                        @*College Name*@
                        <div class="form-group me-2 mb-2">
                            <label  class="light-brown fw-bold">College Name</label>
                            <input type="text" class="form-control mt-1" placeholder="College Name">
                            <span  class="text-danger"></span>
                        </div>

                        <div class="mb-2 d-flex justify-content-between">
                            @*CGPA*@
                            <div class="form-group me-2 w-50">
                                <label @*asp-for="Cgpa"*@ class="light-brown fw-bold">CGPA / 10.00%</label>
                                <input @*asp-for="Cgpa"*@ type="text" class="form-control mt-1" />
                                <span @*asp-validation-for="Cgpa"*@ class="text-danger"></span>
                            </div>
                            @*Gender*@
                            <div class="form-group mb-2 w-50 me-2">
                                <label @*asp-for="Gender"*@ class="light-brown fw-bold me-2">Gender</label>
                                <select @*asp-for="Gender"*@ class="form-select" aria-label="Default select example">
                                    <option value="" selected>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span  class="text-danger"></span>
                            </div>
                            @*Caste*@
                          @*  <div class="form-group mb-2 w-50 me-2">
                                <label asp-for="Caste" class="light-brown fw-bold me-2">Caste</label>
                                <select asp-for="Caste" class="form-select" aria-label="Default select example">
                                    <option value="" selected>Select Caste</option>
                                    <option value="General">General</option>
                                    <option value="EWS">EWS</option>
                                    <option value="SEBC">SEBC</option>
                                    <option value="OBC">OBC</option>
                                    <option value="SC/ST">SC/ST</option>
                                </select>
                                <span asp-validation-for="Caste" class="text-danger"></span>
                            </div>*@
                        </div>
                        @*Address*@
                        <div class="form-group mb-2 me-2">
                            <label @*asp-for="Address"*@ class="light-brown fw-bold me-2">Address</label>
                            <textarea @*asp-for="Address"*@ class="form-control" placeholder="Address" rows="3"></textarea>
                            <span @*asp-validation-for="Address"*@ class="text-danger"></span>
                        </div>

                        <div class="mb-2 d-flex justify-content-between">
                            @*Pincode*@
                            <div class="form-group me-2 flex-fill">
                                <label @*asp-for="Pincode"*@ class="light-brown fw-bold">Pincode</label>
                                <input @*asp-for="Pincode"*@ type="number" class="form-control mt-1" placeholder="Pincode">
                                <span @*asp-validation-for="Pincode"*@ class="text-danger"></span>
                            </div>
                            @*State*@
                            <div class="form-group me-2 col-4 flex-fill">
                                <label @*asp-for="State"*@ class="light-brown fw-bold">State</label>
                                <select @*asp-for="State"*@ id="states" class="form-select mt-1" aria-label="Default select example">
                                    <option value="" selected>Select State</option>
                                </select>
                                <span  class="text-danger"></span>
                            </div>
                            @*City*@
                            <div class="form-group me-2 mt-1 col-4 flex-fill">
                                <label @*asp-for="City"*@ class="light-brown fw-bold">City</label>
                                <select @*asp-for="City"*@ class="form-select" aria-label="Default select example">
                                    <option value="" selected>Select City</option>
                                    <option value="Bhavnagar">Bhavnagr</option>
                                    <option value="Rajkot">Rajkot</option>
                                </select>
                                <span  class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2 d-flex justify-content-between">
                            @*Mobile number*@
                            <div class="form-group me-2 mb-2 w-50">
                                <label@* asp-for="MobileNumber"*@ class="light-brown fw-bold">Mobile number</label>
                                <input@* asp-for="MobileNumber"*@ type="tel" class="form-control mt-1" placeholder="Mobile Number" maxlength="10">
                                <span @*asp-validation-for="MobileNumber"*@ class="text-danger"></span>
                            </div>
                            @*Emergency Contact*@
                            <div class="form-group me-2 mb-2 w-50">
                                <label class="light-brown fw-bold">Emergency Contact</label>
                                <input type="tel" class="form-control mt-1" placeholder="Emergency Contact" maxlength="10">
                            </div>
                        </div>
                        <div class="mb-2 d-flex justify-content-between">
                            @*Password*@
                            <div class="form-group me-2 mb-2 w-50">
                                <label@* asp-for="Password"*@ class="light-brown fw-bold">Password</label>
                                <input @*asp-for="Password"*@ type="password" class="form-control mt-1" placeholder="Password" maxlength="10">
                                <span @*asp-validation-for="Password"*@ class="text-danger"></span>
                            </div>
                            @*Confirm Password*@
                            <div class="form-group me-2 mb-2 w-50">
                                <label @*asp-for="ConfirmPassword"*@ class="light-brown fw-bold">Confirm Password</label>
                                <input @*asp-for="ConfirmPassword"*@ type="password" class="form-control mt-1" placeholder="Confirm Password" maxlength="10">
                                <span @*asp-validation-for="ConfirmPassword"*@ class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-brown mt-3 w-75">Register</button>
                        </div>
                        <div class="text-center mt-3">
                            <span>Already have account?</span>
                            <a class="brown" asp-controller="User" asp-action="Index">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>