
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_INVManagementLayout.cshtml";
}


@* MISSION SKILLS PAGE*@

<div>
    <div class="d-flex align-items-center justify-content-between flex-row mb-2">
        <h3 class="border-bottom border-4 border-dark">Expense</h3>

    </div>



</div>
          


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        var activeTabId = $("#AllAdminTabsList").find("a.active").attr('id');
        $('#' + activeTabId).removeClass("active");
        $('#PayeeTab').addClass("active");
    });
</script>